body {
    background-color:#ffebcd;
    text-align: center;
    font-family: serif;
}

ul > li {
    color: #808080;
    list-style-position: inside;
}

li > a {
    color: #808080;
    font-weight: bold;
    padding-right: 40px;
}

.index {
    color: #808080;
    font-weight: bold;
}

.ingredients {
    font-weight: bold;
    padding-right:50px;
}

.steps {
    list-style-position: inside;
    padding-right: 40px;
}